
  .full-height-card {
    height: auto; 
    overflow-y: auto; 
    margin-top: 40px;
  }

 

  .card-anchor {
    scroll-margin-top: 56px; 
  }

  .full-height-card {
    height: auto; 
    overflow-y: auto; 
    margin-top: 40px;
    background-color:antiquewhite;
}

#card1 img {
    border-radius: 50%;
    width: 500px;
    height: 450px;
    margin: 50px;
}
#card1 .card-header {
    color: black; 
    font-size: 2em;
    font-weight: bold; 
    background-color:bisque;
}

.card h3{
    color: black; 
    font-size: 2em;
    font-weight: bold; 
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.card p{
    color: black; 
    font-size: 1.5em;
    padding: 50px ;
    padding-top: 0px;
}
ul {
    list-style-type: none; 

}

ul li {
    position: relative; 
    margin: 0; 
    padding-left: 10px;
}

ul li::before {
    content: '•'; 
    position: absolute; 
    left: 30px; 
    font-size: 30px;
    top: -5px; 
}

.Activities{
    margin-left: 50px;
}
.Activities li{
    font-size: 20px;
}
.Activities ul li::before {
    content: '•'; 
    position: absolute; 
    left: -20px; 
    font-size: 30px; 
    top: -8px; 
}

#navbarNavDropdown ul li::before {
    content: ''; 
    position: absolute; 
    left: 30px;
    font-size: 30px; 
    top: -5px; 
}

#navbarNavDropdown{
    margin-right: 50px;
}